<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
  <div class="header-left-panel">
    <div class="logo-wrap">
      <div class="logo">
        <h2>Welcome To 2021 Stakeholders Elections</h2>
        <h1>The Bike Company</h1>
      </div>
    </div>
  </div>
  <div class="header-right-panel">
    <div class="header-right-panel-top">
      <p>Call Us : 000 888 8888
      <p> <a href="#">Mail Us : info@thebikestore.com</a> 
    </div>
    <div class="menu">
      <ul>
        <li class="marRight20"><a href="/">home</a></li>
        <li class="marRight20"><a href="/about">about</a></li>
        <li><a href="/features">Process</a></li>
      </ul>
    </div>
  </div>
</div>
<!--- panel wrap div end -->
<div class="page-wrap">
  <div class="top-content" >
    <h1>About The Elections</h1>
    <div class="top-border"></div>
    <p >&nbsp;&nbsp;&nbsp;&nbsp;Elections are fundamental pillar to elect a member from the group of people as leader in form of a vote. Due to their significance, the election process should be transparent and reliable so as to ensure participants of its credibility. Blockchain Technology is emerging.The blockchain technology can play key role in the domain of e-voting due to the inherent nature of preserving anonymity, maintaining decentralized and publicly distributed ledger of transactions across all the nodes. This makes blockchain technology very efficient to deal with the threat of utilizing a voting token more than once and the attempt to influence the transparency of the result.</p>
    <p >&nbsp;&nbsp;&nbsp;&nbsp;Since elections play a key part in the electing of our CEO it should be clear and transparent. Because of the benefits of blockchain we have been using that to conduct the voting system.</p>
    <br>
    <p >The current leaders are:</p>
    <br>
    <p >Mr. Mark Anthony</p>
    <p >CEO</p>
    <br>
    <p >Mr. Raghunathan</p>
    <p >STO</p>
    <br>
    <p >Mr. Lewis Hamilton</p>
    <p >CTO</p>
    <br>
    <p >&nbsp;&nbsp;&nbsp;&nbsp;As we are heading into the final serving week of CEO Mr. Mark Anthony, the election of the new CEO
    has to be conducted. The company has stakeholders who has to decide all together upon who will be the next.
    The above are the potential candidates who have been selected to compete. The stake holders are all requested to
    cast their votes via the process mentioned to any one of the potential candidates listed. </p>
    <br>
    <p >The Potential candidates are:</p>
    <br>
    <p >Mr. Sebastian Vettel</p>
    <p >VP</p>
    <br>
    <p >Mrs. Angela Max</p>
    <p >PE</p>
    <br>
    <p >Mr. Lewis Hamilton</p>
    <p >CTO</p>
    <br>
    <div class="bottom-border"></div>
  </div>
</div>

<!--- page wrap div end -->
<div class="footer">
  <p>Copyright (c) The Bike company. All rights reserved.< www.thebikestore.com ></p>
</div>
</body>
</html>
