<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error 401</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header">
  <div class="header-left-panel">
    <div class="logo-wrap">
      <div class="logo">
        <h2>Welcome To 2021 Stakeholders Elections</h2>
        <h1>The Bike Company</h1>
      </div>
    </div>
  </div>
  <div class="header-right-panel">
    <div class="header-right-panel-top">
      <p>Call Us : 000 888 8888
      <p> <a href="#">Mail Us : info@thebikestore.com</a> 
    </div>
    <div class="menu">
      <ul>
        <li class="marRight20"><a class="active" href="/vote">Back</a></li>
      </ul>
    </div>
  </div>
</div>
<!--- header div end -->

<!--- panel wrap div end -->
<div class="clearing"></div>
<div class="page-wrap">
  <div class="top-content">
    <h1>ERROR 401 : Invalid User Credentials</h1>
    <div class="top-border"></div>
    <p>The Digital Id entered by you is not valid hence, you are not authorized to vote. The credentials are wrong. (401 Unauthorized client error status response code indicates that the request has not been applied because it lacks valid authentication credentials for the target resource). Please enter valid credentials to proceed further.</p>
    <div class="bottom-border"></div>
  </div>
</div>
</div>
<!--- page wrap div end -->
<div class="footer">
  <p>Copyright (c) The Bike company. All rights reserved. < www.thebikestore.com ></p>
</div>
</body>
</html>
