<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Homepage</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="header">
        <div class="header-left-panel">
            <div class="logo-wrap">
                <div class="logo">
                    <h2>Welcome To 2021 Stakeholders Elections</h2>
                    <h1>The Bike Company</h1>
                </div>
            </div>
        </div>
        <div class="header-right-panel">
            <div class="header-right-panel-top">
                <p>Call Us : 000 888 8888
                <p> <a href="#">Mail Us : info@thebikestore.com</a>
            </div>
            <div class="menu">
                <ul>
                    <li class="marRight20"><a class="active" href="/">home</a></li>
                    <li class="marRight20"><a href="/about">about</a></li>
                    <li><a href="/vote">vote</a></li>
                    <li class="marRight20"><a href="/features">Process</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--- header div end -->
    <div class="panel-wrap">
        <div class="panel-wrapper">
            <div class="panel marRight30">
                <div class="img"><img src="img-1.jpg" /></div>
                <div class="title">
                    <h1>Mr. Lewis Hamilton</h1>
                </div>
                <div class="border"></div>
                <div class="content">
                    <p>Serving as Chief technical Officer.
                        Goal oriented and Highly Influencal individual.</p>
                </div>
            </div>
            <div class="panel marRight30">
                <div class="img"><img src="/img-2.jpg" /></div>
                <div class="title">
                    <h1 class="border-bottom">Mrs. Angela Max</h1>
                </div>
                <div class="border"></div>
                <div class="content">
                    <p>Serving as Principal Engineer. Has Learning agility and ability to delegate.<br />
                    </p>
                </div>
            </div>
            <div class="panel">
                <div class="img"><img src="/img-3.jpg" /></div>
                <div class="title">
                    <h1 class="border-bottom">Mr. Sebastian Vettel</h1>
                </div>
                <div class="border"></div>
                <div class="content">
                    <p>Serving as Vice President. Strategic thinking and Innovative individual.</p>
                </div>
            </div>
        </div>
    </div>
    <!--- panel wrap div end -->
    <div class="clearing"></div>
    <div class="page-wrap">
        <div class="top-content">
            <h1>About The Elections</h1>
            <div class="top-border"></div>
            <p>As we are heading into the final serving week of CEO Mr. Mark Anthony, the election of the new CEO
                has to be conducted. The company has stakeholders who has to decide all together upon who will be the
                next.
                The above are the potential candidates who have been selected to compete. The stake holders are all
                requested to
                cast their votes via the process mentioned to any one of the potential candidates listed above. </p>
            <div class="bottom-border"></div>
        </div>
        <div class="page-wrapper">
            <div class="primary-content marRight30 ">
                <div class="toppanel">
                    <div class="container">
                        <h1>Key features of the election process :</h1>
                        <div class="border-bottom"></div>
                        <div class="container-wrap">
                            <div class="container-panel padBottom">
                                <div class="container-panel-left marRight20"><img src="/icon-1.png"></div>
                                <div class="container-panel-right">
                                    <h3>Privacy</h3>
                                    <p>The system leverages cryptographic properties of blockchain to achieve privacy of
                                        a voter.</p>
                                </div>
                            </div>
                            <div class="container-panel borderNone marginTop">
                                <div class="container-panel-left marRight20"><img src="/icon-3.png"></div>
                                <div class="container-panel-right">
                                    <h3>Transparency</h3>
                                    <p>The system offers transparency in terms of validating the accuracy of the trail
                                        of inputted votes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-wrap borderNone">
                        <div class="container-panel marLeft20 padBottom">
                            <div class="container-panel-left marRight20"><img src="/icon-2.png"></div>
                            <div class="container-panel-right">
                                <h3>Verifiability</h3>
                                <p>Upon casting your vote successfully, you are provided with a unique transaction ID in
                                    the form of a cryptographic hash.</p>
                            </div>
                        </div>
                        <div class="container-panel borderNone marginTop marLeft20">
                            <div class="container-panel-left marRight20"><img src="/icon-4.png"></div>
                            <div class="container-panel-right">
                                <h3>Immutability</h3>
                                <p>The data kept in a blockchain cannot be altered.
                                    The blockchain ledger remains unaltered and unchanged.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mid-panel marginTop">
                    <div class="mid-panel-content">
                        <div class="title">
                            <h1>the Current leaders of the organization</h1>
                        </div>
                        <div class="border"></div>
                        <p>Starting from right we have our CEO Mr. Mark Anthony following Senior Technical Officer
                            Mr. Raghunathan and at the end CTO Mr. Lewis hamilton.</p>
                        <div class="img marRight20"> <img src="/img-4.jpg" /> </div>
                        <div class="img marRight20"> <img src="/img-5.jpg" /> </div>
                        <div class="img"> <img src="/img-6.jpg" /> </div>
                    </div>
                </div>
            </div>
            <div class="sidebar">
                <div class="search-panel">
                    <div class="content">
                        <div class="title">
                            <h1>Major Stakeholders</h1>
                        </div>
                        <div class="border"></div>
                        <ul>
                            <br>
                            <li>Johnny Depp</li>
                            <li>Brad Pitt</li>
                            <li>F Alonso</li>
                            <li>Sunny</li>
                            <li>Lewis</li>
                            <li>Messi</li>
                            <li>Md Salah</li>
                            <li>Verstappen</li>
                            <li>Bottas</li>
                            <li>Kevin</li>
                        </ul>
                    </div>
                </div>
                <div class="midpanel">
                    <div class="content">
                        <div class="title">
                            <h1>The Designer and the Developer involved in the process of the Election</h1>
                        </div>
                        <div class="border"></div>

                        <div class="container">
                            <div class="left">
                                <h2>Jonathan</h2>
                                <p>Designer. Responsible for the architecture and design of the Blockchain and website.
                                </p>
                            </div>
                            <div class="img"><img src="/img-8.jpg" /></div>
                        </div>
                        <div class="container borderNone">
                            <div class="left">
                                <h2>Angelena</h2>
                                <p>Developer. Responsible for the development of code and construction of the whole
                                    Blockchain and website.</p>
                            </div>
                            <div class="img"><img src="/img-9.jpg" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--- page wrap div end -->
    <div class="footer">
        <p>Copyright (c) The Bike company. All rights reserved. < www.thebikestore.com>
        </p>
    </div>
</body>

</html>
