<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Homepage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://unpkg.com/ipfs-http-client@30.1.3/dist/index.js"></script>
    <script src="https://bundle.run/buffer@5.2.1"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="header">
        <div class="header-left-panel">
            <div class="logo-wrap">
                <div class="logo">
                    <h2>Welcome To 2021 Stakeholders Elections</h2>
                    <h1>The Bike Company</h1>
                </div>
            </div>
        </div>
        <div class="header-right-panel">
            <div class="header-right-panel-top">
                <p>Call Us : 000 888 8888
                <p> <a href="#">Mail Us : info@thebikestore.com</a>
            </div>
            <div class="menu">
                <ul>
                    <li class="marRight20" style="float: right;"><a class="active" href="/">home</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page-wrap">
        <div style="width: 600px; margin-top: 50px; margin-left: 30%; border: 2px solid black;">
            <h2 style="text-align: center; margin-top:10px">Verification</h2>
            <form action="/auth" style="padding: 20px;">
                <div class="form-group">
                    <label for="id" style="font-size: 20px;">Stakeholder's ID</label>
                    <input type="text" class="form-control" id="id" name="id" aria-describedby="emailHelp"
                        placeholder="Enter Id">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="name" style="font-size: 20px;">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="email" style="font-size: 20px;">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="hash" style="font-size: 20px;">Digital ID</label>
                    <input type="file" class="form-control" id="upload" name="IDF" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="ipfs" style="font-size: 20px;">Hash will be displayed below</label>
                    <input type="hidden" class="form-control" name="ipfs" id="ipfs">
                </div>
                <input type="submit" id="submt" style="display:none" class="btn btn-primary">
            </form>
        </div>
        <br>
    <br>

    </div>

    <div class="footer">
        <p>Copyright (c) The Bike company. All rights reserved. < www.thebikestore.com>
        </p>
    </div>
<script>
     const ipfs = window.IpfsHttpClient('ipfs.infura.io', '5001', { protocol: 'https' });

        var ip_hash = ''

    $("#upload").on("change", function () {

      var reader = new FileReader();
      reader.onload = function (e) {

        const magic_array_buffer_converted_to_buffer = buffer.Buffer(reader.result);
        console.log(magic_array_buffer_converted_to_buffer)

        ipfs.add(magic_array_buffer_converted_to_buffer, async (error, result) => {
          var x = "https://gateway.ipfs.io/ipfs/";
          console.log('Ipfs result', result[0].hash)
          document.getElementById("ipfs").value = result[0].hash;

          document.getElementById("ipfs").type = "visible";
          document.getElementById("ipfs").readOnly = true;
          $("#submt").show();
          if (error) {
            console.error(error)
            return
          }
        })

      }
      reader.readAsArrayBuffer(this.files[0]);
    })
    
</script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
